#sailDiv table{
    border-radius: 3px;
    white-space: pre-line;
    width: 100%;
    resize: vertical;
}
.inputtd{
    vertical-align: top;
    table-layout: fixed;
}
.int_as_td{
    width: 25%;
}

#sailDiv textarea{
    border-radius: 7px;
    max-width: 100%;
    border: none;
    background-color: #ffebd7;
    resize: none;
    display: block;
    overflow: hidden;
    outline: none;
    height: 500px;
}
p{
    white-space: pre-line;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align-last: left;
    resize: vertical; 
    max-height: 300px; 
    min-height: 200px;
}
#underliste{
    list-style-type: none;
    margin-left: 5%;
}
#overliste{
    color: mediumvioletred;
    list-style-type: none;
}
body{
    background-color:#ffebd7;
}