.topnav {
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 25px;
    background-color: steelblue;
    color: white;
}
#logud{
    float: right;
}

.userContainer{
height: 625px;
background-color: steelblue;
}
.ddContent{
    display: none;
    width: 1px;
    position: absolute;
    background-color: white;
    top: 85px;
    left: 165px;
    z-index: 1;
}

.ddContent a{
    width: 129px;
    text-align: left;
}

.userInfo{
    position: absolute;
    height: 550px;
    width: 400px;
    top: 135px;
    right: 50px;
    background-color: lightgray;
}
#profileImg{
    position: relative;
    top: 40px;
    left: 125px;
    height: 150px;
    border-radius: 10px;
}
.nameInfo{
    position: relative;
    left: 20px;
    top: 40px;
}
.content{
    position: absolute;
    left: 30px;
    top: 135px;
    width: 1000px;
    height: 550px;
    background-color: lightgray;
}