.topnav {
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    font-size: 25px;
    background-color: steelblue;
    color: white;
}
#logud{
    float: right;
}

.userContainer{
height: 625px;
background-color: steelblue;
opacity: 80%;
}
.ddContent{
    display: none;
    width: 200px;
    position: absolute;
    background-color: white;
    top: 85px;
    left: 345.5px;
    z-index: 1;
}

.ddContent button{
    position: relative;
    padding: 20px;
    width: 204px;
    text-align: center;
    background-color: steelblue;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.userInfo{
    position: absolute;
    height: 550px;
    width: 400px;
    top: 135px;
    right: 50px;
    background-color: lightgray;
}
#profileImg{
    position: relative;
    top: 40px;
    left: 125px;
    height: 150px;
    border-radius: 10px;
}
.nameInfo{
    position: relative;
    left: 20px;
    top: 40px;
}
.content{
    position: absolute;
    left: 30px;
    top: 135px;
    width: 1000px;
    height: 550px;
    background-color: lightgray;
}
#contentDiv{
    position: relative;
    height: auto;
    width: auto;
    background-color: #fcd64c;
}
.infoInput{
    position: relative;
    background-color: lightgrey;
    border: none;
    size: 10px;
    width: 200px;
    border-radius: 3px;
    float: right;
    left: 35px;
    opacity: 50%;
}
.inputDiv{
    position: absolute;
    top: 30px;
}
#editBtn{
    position: absolute;
    padding: 5px 10px;
    border: none;
    top: -170px;
    background-color: steelblue;
    color: white;
}
#applyBtn{
    position: absolute;
    padding: 5px 10px;
    border: none;
    left: 0px;
    top: 280px;
    background-color: steelblue;
    color: white;
}