/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(70, 130, 180, 0.363);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 50px;
  text-decoration: none;
  font-size: 25px;
  background-color: rgba(70, 130, 180, 0.363);
  color: white;
  margin-right: 5px;
}

.topnav button {
  float: left;
  background: none;
  border: none;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 50px;
  text-decoration: none;
  font-size: 25px;
  background-color: rgba(70, 130, 180, 0.363);
  color: white;
  margin-right: 5px;
}

#background_picture {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 100%;
}
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  margin-bottom: 0.5%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: steelblue;
  color: black;
}
.topnav button:hover {
  background-color: steelblue;
  color: black;
}

.topnav h1 {
  float: left;
  font-size: 25px;
  padding: 5px 16px;
  color: steelblue;
}

.boxed {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  color: #f1f1f1;
  margin-bottom: 40%;
  width: 98.1%;
  padding: 10px;
  border-radius: 10px;
  border-color: steelblue;
}
