#sailDiv table{
    border-radius: 3px;
    white-space: pre-line;
    width: auto;
}
#sailDiv input{
    border-radius: 7px;
    height: 100px;
    border: none;
}
#underliste{
    list-style-type: none;
    margin-left: 5%;
}
#overliste{
    color: mediumvioletred;
    list-style-type: none;
}