#sailDiv table{
    border-radius: 3px;
    white-space: pre-line;
    width: auto;
}
#sailDiv textarea{
    border-radius: 7px;
    max-width: 200px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
    background-color: #ffebd7;
    overflow-x: auto;
    
}
pre{
    white-space: pre-line;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    text-align-last: left;
}
#underliste{
    list-style-type: none;
    margin-left: 5%;
}
#overliste{
    color: mediumvioletred;
    list-style-type: none;
}
body{
    background-color:#ffebd7;
}