/* Add a black background color to the top navigation */

.topnav {
  background-color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 35px;
  text-decoration: none;
  font-size: 25px;
  background-color: rgba(70, 130, 180, 1);
  transition-duration: 0.2s;
  cursor: pointer;
}

.topnav button {
  float: left;
  background: none;
  border: none;
  color: black;
  text-align: center;
  padding: 34.5px;
  text-decoration: none;
  font-size: 25px;
  background-color: rgba(70, 130, 180, 1);
  transition-duration: 0.2s;
  cursor: pointer;
}

#background_picture {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 70%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: steelblue;
  color: white;
}
.topnav button:hover {
  background-color: steelblue;
  color: white;
}

.topnav button:active {
  background-color: steelblue;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.topnav a:active {
  background-color: steelblue;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.topnav h1 {
  float: left;
  font-size: 25px;
  padding: 5px 16px;
  color: steelblue;
}

.boxed {
  float: left;
  bottom: 0;
  background: steelblue;
  color: black;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 25%;
  width: 85.6%;
  padding: 10px;
  border-radius: 10px;
  image-rendering: auto;
}
.sidenav {
  height: 88.6%;
  width: 13%;
  float: right;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: auto;
}
.sidenav button {
  float: left;
  background: none;
  border: none;
  text-align: center;
  padding: 50px;
  width: auto;
  text-decoration: none;
  font-size: 25px;
  background-color: rgba(70, 130, 180, 1);
  transition-duration: 0.2s;
  cursor: pointer;
}
.sidenav button:active {
  background-color: steelblue;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
.sidenav button:hover {
  background-color: steelblue;
  color: white;
}
