/* Add a black background color to the top navigation */
.topnav {
  background-color: rgba(0, 0, 0, 0.85);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav button {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 50px;
  text-decoration: none;
  font-size: 25px;
  background-color: steelblue;
  color: white;
}

#myVideo {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  margin-bottom: 0.5%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.dopebtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: #ddd;
  color: black;
}

.topnav h1 {
    float: left;
    font-size: 25px;
    padding: 5px 16px;
    color: steelblue;
}

#login-page {
  display: none;
}


#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  position: fixed;
  bottom: 0;
}

/* grc.html arc.html */

fieldset 
  {
    border:2px solid steelblue;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
    max-width: 25%;
}

legend {
  color: steelblue;
  font-weight: bold;
}

form {
  padding: 8px;
}

input[name="submitBtn"] {
  border: 1px solid #7bc74d;
  background: #7bc74d;
  color: #fff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  padding:3px 20px;
  margin-left: 25px;
  opacity: 0.6;
  transition: 0.3s;
}

input[name="submitBtn"]:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  padding:3px 20px;
  margin-left: 25px;
  opacity: 0.6;
  transition: 0.3s;
}

input[name="submitBtn"]:hover {
  opacity: 1
}